
// variables for colors
$navTextColor: #000;
$bannerTextColor: rgb(255,0,0);

$mainColor: rgb(0,255,0);
$secondaryColor: lighten($mainColor, 25);

$mainTextColor: #000;
$mainBgColor: invert($mainTextColor);
