@use "sass:color";
// variables for colors
$navTextColor: #000;
$bannerTextColor: rgb(255,0,0);

$mainColor: rgb(0,255,0);
$secondaryColor: color.scale($mainColor, $lightness: 50%);

$mainTextColor: #000;
$mainBgColor: invert($mainTextColor);
